body {
	background: #424242;
	background-size: 100%;
}

.hidden, .hidden-form {
	display: none;
}

#weather-main {
	background: #fff;
	opacity: 0.5;	/*Play around with this*/
	width: 400px;
	height: 300px;
}