body {
	background: #FFB4D9 url("backgrounds/default.png");
	background-size: 100%;
    background-attachment: fixed;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

.hidden, .hidden-form {
	display: none;
}

button {
	border-radius: 50%;
}

#weather-main {
	background: rgba(255, 255, 255, 0.50);
	width: 400px;		/* make this & height responsive? */
	height: 300px;
	margin: auto;
	border-radius: 5px;
  	box-shadow: 3px 2px 15px 0px rgba(50, 50, 50, 0.75);
	text-align: center;
}

#weather-main h1 {
	/*text-align: center;*/
	font-weight: 700;
	/*border-bottom: 1px solid black;*/
}

#temp {
	font-size: 2.5em;
}

#weather {
	font-weight: 400;
	text-shadow: 0 0 10px #FF12ff;
	margin-bottom: 10px;
}

/***********************

CSS FOR ON/OFF SWITCH

***********************/

.onoffswitch {
    position: relative;
    width: 60px;
    margin: auto;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #999999;
    border-radius: 20px;
}
.onoffswitch-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block;
    float: left;
    width: 50%;
    height: 30px;
    padding: 0;
    line-height: 30px;
    font-size: 14px;
    color: white;
    font-family: Trebuchet, Arial, sans-serif;
    font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "F";
    padding-right: 20px;
    background-color: #C5DBE0;
    color: #858585;
}
.onoffswitch-inner:after {
    content: "C";
    padding-right: 10px;
    background-color: #C5DBE0;
    color: #858585;
    text-align: right;
}
.onoffswitch-switch {
    display: block;
    width: 20px;
    margin: 5px;
    background: #FAFCFF;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 26px;
    border: 2px solid #999999;
    border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}